* {
  color: blue;
}

h1 {
  display: flex;
  justify-content: center;
  color: blue;
}

h2 {
  color: blue;
}

body {
  font-family: 'Balsamiq Sans', cursive;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  background-image: url('images/wallpaper5.jpg');
}

.flex {
  display: flex;
  justify-content: space-around;
}

.flex1 {
  display: flex;
  justify-content: space-between;
}

.flex1 p {
  padding-right: 1em;
}

.form {
  flex-direction: column;
  height: max-content;
  background-color: #6ea5c3;
  margin-top: 1em;
  padding: 1em;
  border-radius: 1em;
}

.btn {
  height: 2.7em;
  width: max-content;
  padding-inline: 0.85em;
  border-radius: 1em;
  background-color: blue;
  color: white;
  border: none;
}

.btn:hover {
  cursor: pointer;
  background-color: white;
  color: blue;
}

.btn:active {
  cursor: pointer;
  background-color: blue;
  color: white;
}

.button {
  margin-left: 2em;
}

input {
  margin: 1em;
  border: none;
  padding: 0.6em;
  border-radius: 1em;
}

#button {
  width: fit-content;
  margin-left: 10em;
}

.heading {
  align-items: center;
  justify-content: space-between;
}

.container div {
  height: min-content;
  padding-left: 1em;
}

.container {
  border: 0.15em solid #6ea5c3;
  border-radius: 1em;
}

.container div:nth-child(even) {
  background-color: white;
}

::placeholder {
  color: #1c1c1c;
  color: blue;
}

input:focus {
  outline: none;
}

.body {
  justify-content: center;
}

.div {
  margin-right: 6em;
}
